html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    background: hsl(33, 100%, 88%);
		font-family: sans-serif;
    margin: 0;
		text-align: center;
}

h1 {
    color: hsl(0, 100%, 50%);
}

h2 {
    font-size: 3.125rem;
    color: hsl(15, 58%, 55%);
}

p {
    font-size: 1.25rem;
}

.container {
    /* margin-right: 500px;
    margin-left: 500px; */
}

a,
.text-color {
    border-radius: 1.5625rem;
    border: 3px solid hsl(240, 100%, 50%);
    font-weight: bold;
}

.btn {
    display: inline-block;
    background: hsl(240, 100%, 50%);
    color: #fff;
    padding: .5em 1.25em;
    text-decoration: none;
		text-transform: uppercase;
		letter-spacing: .1rem;
		transition: transform 300ms ease-in-out;
}

.btn:hover,
.btn:focus-visible {
    background: bisque;
    color: #000;
		outline-offset: .5rem;
		transform: scale(1.05);
}