html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    background: bisque;
    margin: 0;
		text-align: center;
}

h1 {
    color: red;
}

/* Experimenting with color styles */

h2 {
    font-size: 3.125rem;
    /* color: #42f4df; */
    /* color: #f77002; */
    color: #13a351;
    /* color: rgb(206, 105, 72); */
    /* color: rgb(229, 0, 255); */
    /* color: hsl(264, 100%, 30%); */
}

p {
    font-size: 1.25rem;
}

.container {
    /* margin-right: 500px;
    margin-left: 500px; */
}

a,
.text-color {
    border-radius: 1.5625rem;
    border: 3px solid blue;
    font-weight: bold;
}

.text-color {
    display: inline-block;
    background: blue;
    color: #fff;
    padding: .5em 1.25em;
    text-decoration: none;
		text-transform: uppercase;
		letter-spacing: .1rem;
		transition: transform 300ms ease-in-out;
}

.text-color:hover,
.text-color:focus {
    background: bisque;
    color: #000;
		transform: scale(1.05);
}